WarCrimes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WarCrimes.xcodeproj/project.xcworkspace/xcuserdata/poolit.xcuserdatad/UserInterfaceState.xcuserstate
WarCrimes.xcodeproj/xcuserdata/poolit.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WarCrimes.xcodeproj/xcuserdata/poolit.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
WarCrimes.xcodeproj/project.xcworkspace/contents.xcworkspacedata
